<body>
  <a href="https://lescheminsdelatransition.org">
    <img src="https://lescheminsdelatransition.org/logoCut512.png" alt="Les Chemins de la Transition" style="max-width: 100%; max-height: 120px;">
  </a>
  <p>
    <em>Le message suivant a été envoyé par {{name}} ({{email}}) depuis <a href="{{placeFrontUri}}">la page de votre lieu</a>&nbsp;:</em>
  </p>
  <p>
    {{{contentWithBr}}}
  </p>
</body>
