<body>
  <a href="https://pathways.gen-europe.org/">
    <img src="https://lescheminsdelatransition.org/logoCut512.png" alt="Ecommunity Research Platform" style="max-width: 100%; max-height: 120px;">
  </a>
  <p>Hello {{prenom}} {{nom}}!</p>
   <p>We are very happy to welcome you to {{lep}}!</p>
   <p>If you have any questions or requests for clarification regarding the organization of the trip, do not hesitate to contact the representatives via the form or by telephone.</p>
   <p>If you would like to introduce yourself, discuss or share information, we invite you to join us at https://forum.gen-europe.org/.</p>
   <p>Welcome and enjoy your journey on the Ecommunity Research Platform!</p>
</body>
