<body>
  <a href="https://pathways.gen-europe.org/">
    <img src="https://lescheminsdelatransition.org/logoCut512.png" alt="The Ecommunity Research Platform" style="max-width: 100%; max-height: 120px;">
  </a>
  <p>{{actor.pair:firstName}},</p>
  <p>You have been invited to join the Ecommunity Research Platform as an actor.</p>
   <p>This will allow you to create places and events on our platform.</p>
   <p>To login, go to <a href="{{loginUri}}">this link</a> and login with the address <b>{{account.email}}</b >.</p>
   <p>If you have any problems, do not hesitate to contact us!</p>
   <p>
       Sincerely,<br/>
       The Ecommunity Research Platform
   </p>
</body>
