<body>
  <a href="https://app.lescheminsdelatransition.org">
    <img src="https://app.lescheminsdelatransition.org/logoCut512.png" alt="Les Chemins de la Transition" style="max-width: 100%; max-height: 120px;">
  </a>
  <p>Bonjour {{prenom}} {{nom}} !</p>
  <p>On est très heureux de t’accueillir sur le {{lep}} !</p>
  <p>Si tu as des questions ou des demandes de précisions concernant l’organisation du voyage, n’hésite pas à contacter les référents via le formulaire ou par téléphone.</p>
  <p>Si tu souhaites te présenter, discuter ou partager des infos, on t’invite par ailleurs à nous rejoindre sur http://forums.lescheminsdelatransition.org/.</p>
  <p>Bienvenue et bon voyage sur les Chemins de la Transition !</p>
</body>
